<%= form_with(model: seller, local: true) do |form| %>
  <% if seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style>
	.field{
		text-align: center;
	}
	
	.actions{
		text-align: center;
	}
</style>

  <!--<div class="field">
    <%= form.label :seller_id %>
    <%= form.text_field :seller_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>-->


  <div class="field">
	<div class = "registration_num">사업자 등록 번호</div>
    <%= form.number_field :registration_num %>
  </div>

  <div class="field">
	  <div class = "company_name">상호/법인 명</div>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
	  <div class = "ceo_name">대표자</div>
    <%= form.text_field :ceo_name %>
  </div>

  <div class="field">
	  <div class = "company_address">소재지</div>
    <%= form.text_field :company_address %>
  </div>

  <div class="field">
	  <div class = "ceo_email">대표 이메일</div>
    <%= form.text_field :ceo_email %>
  </div>

  <div class="field">
	  <div class = "ceo_num">대표 번호</div>
    <%= form.number_field :ceo_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
