<p id="notice" style="margin-top: 0px; margin-bottom: 0px;" ><%= notice %></p>
<style>
	#left {
		display: flex;
	}
	
	#right {
		float: right;
	}
	
	#division {
		border-left: 1px solid #e8e6e6;
	}
	
	#center {
		text-align: center;
	}
	
	.supporter-project-info {
		border: 1px solid  #e8e6e6;
		border-radius: 20px 20px 20px 20px/ 20px 20px 20px 20px;
	}
	
	.My-page-profileBackground {
		height: 220px;
		width: 100%;
		background-color: #00C4C4;
	}
	
	.my-page-switch {
		background-color: #ffffff;
		border-radius: 12px 12px 0px 0px/ 12px 12px 0px 0px;
	}
	
	.My-page-content-wrapper {
		background-color: #ffffff;
	}
	
	.go-to-supporter-page {
		border: none;
		background-color: #ffffff;
		border-radius: 12px 12px 0px 0px/ 12px 12px 0px 0px;
		
	}
	
	.go-to-maker-page {
		border: none;
		background-color: #ffffff;	
	}
	
	.go-to-maker-page {
		border-radius: 12px 12px 0px 0px/ 12px 12px 0px 0px;
	}
	
	.go-to-open-funding {
		width: 728px;
		background-color: #00C4C4;
		border: none;
		height: 48px;
		color: #ffffff;
		text-align: center;	
		border-radius: 10px 10px 10px 10px/ 10px 10px 10px 10px;
		font-size: small;
	}
	
	.funding_button {
		font-size: medium;
		font-weight:bold;
		line-height: 48px;
		color: #ffffff
	}
	
	.my-project-size {
		color: #00C4C4
	}
</style>

<div class = "MainWrapper_content">
	<div class = "My-page" style="">
		<div class = "My-page-profileBackground" style="position:relative; width: 100%">
			<span style = "background-image : url(null);"></span>
		</div>
		<div class = "My-page-inner" style="margin-left:400px; margin-right:400px; position: relative; top: -180px;" >
			<div class = "my-page-header" style="height: 55px;">
				<div class="my-page-switch" id="right" style=" height: 55px;"  >
						<button data-event="supporter_mode" class="go-to-supporter-page" style=" height: 55px;">
							<%= link_to '서포터', homes_supporterpage_path(current_user.id) %>
						</button>
						<button data-event="maker_mode" class="go-to-maker-page" style="height: 55px;">
							<%= link_to '메이커', sellers_homepage_seller_path(current_user.id) %>
						</button>
				</div>
			</div>
			<div class = "My-page-content-wrapper" style="padding-top:15px;"  >
					<div class = "My-page-maker" id="left" style=" width:100%; padding-top: 25px;" >
						<div class = "My-page-profile-container" style="width: 30%" >
							<div class = "maker-profile" id = "center">
								<br>
									<h2>
										와디즈 메이커님	
									</h2>
								<br>
							</div>
							<div class="my-maker-page-container">
								<div class = "my-maker-page-content" id="center">
									<%= link_to "메이커 페이지", sellers_show_path(current_user.id)%>
								</div>
								<div class = "make-maker-page" id = "center">
										<strong><%= link_to "페이지 만들기 ", sellers_edit_path(current_user.id) %></strong>
								</div>
							</div>
							
						</div>
						<div class = "My-page-maker-content" id="division" style="width: 70%;  padding-left: 32px; padding-right: 32px; padding-top: 20px;" >
							<div class = "My-page-maker-section" style="height:433.5px" >
								<div class = "Tab-wrapper" style="height: 49px;">
									<!--<div class = "tab-menu" id="left">
										<button type="button" class="my-funding-product" style="margin-left: 10px; margin-right: 40px;">
											펀딩
										</button>
										<button type="button" class="my-funding-store" style="margin-left: 10px; margin-right: 40px;">
											스토어
										</button>
									</div>-->
									<div class="Tab-pannel" style="height: 321.4px;">
										<div class="my_project_product" style="padding-top: 10px; height:311.4px;">
											<h2 class = "my-project-title">
												만든펀딩
												<span class="my-project-size"><%= FundingProduct.where(seller_id_id: current_user.id).size%></span>
												
											</h2>
											<div class="show-my-funding-project" id="left"  style="margin-bottom:10px;">
												<div class = "my-funding-project">
													<div class = "my-project" style="margin-right:10px;">
														<a class="show-my-project" href="/funding_products/:product_id">
														<article>
														    <div class ="my-project-title-image">
																<img src="">
															</div>
															<div class ="my-project-title">
																<% %>
															</div>
															<!--<div class="TextContent_content">
																<h1 class="TextContent_title"><%= FundingProduct.where(seller_id_id: current_user.id) %></h1>
																	<p class="TextContent_summary">펀딩 준비 작성 중</p>
															</div>-->
														</article>
													</a>
													</div>
												</div>
											</div>
											<div class = "go-to-open-funding">
												<span class = "funding_button">
													
														<%= link_to "펀딩 오픈 신청하기", new_funding_product_path %>
													
													</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

