<p id="notice"><%= notice %></p>

<body>
<!--슬라이드 배너칸-->
	<div class="section">
		<input type="radio" name="slide" id="slide01" checked>
		<input type="radio" name="slide" id="slide02">
		<input type="radio" name="slide" id="slide03">

		<div class="slidewrap">
			<ul class="slidelist">
				<li>
					<a>
						<!--<label for="slide03" class="left"></label>-->
						<div class="image">
							<img src="/slide_image01.png" 
							 style="width: 1277px;
									height: 371.594;">linear-gradient(to top, black, white 10%)
						</div>
						<div class="textbox">
							<h3 style="margin-bottom: 0px;
									   margin-top: 10px;">지금만 누릴 수 있어요 <br> 72시간 한정 혜택 open</h3>
							<p style="margin-top: 5px;">펀딩</p>
						</div>
						<label for="slide02" class="right"></label>
					</a>
				</li>
				<li>
					<a>
						<label for="slide01" class="left"></label>
						<a href = "/funding_products/337">
						<div class="image">
							<img src="/slide_image02.png" 
							 style="width: 1277px;
									height: 371.594;">linear-gradient(to top, black, white 10%)
						</div>
							</a>
						<div class="textbox">
							<h3 style="margin-bottom: 0px;
									   margin-top: 10px;">2023년 새해를 위한 <br> 목표 달성 갓생템 펀딩</h3>
							<p style="margin-top: 5px;">펀딩</p>
						</div>
						<label for="slide03" class="right"></label>
					</a>
				</li>
				<li>
					<a>
						<label for="slide02" class="left"></label>
						<a href = "/funding_products/338">
						<div class="image">
							<img src="/slide_image03.png" 
							 style="width: 1277px;
									height: 371.594;">linear-gradient(to top, black, white 10%)
						</div>
						<div class="textbox">
							<h3 style="margin-bottom: 0px;
									   margin-top: 10px;">최강 한파 이겨낼 <br> 따뜻한 아이템 모음</h3>
							<p style="margin-top: 5px;">펀딩</p>
						</div>
						</a>
						<label for="slide01" class="right"></label>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
<!--취향맞춤펀딩칸-->
	<div class="RecommendFundingProduct_table">
		<div class="RecommendFundingProduct_Title_1">
			<h1>취향 맞춤 펀딩 프로젝트</h1>
			<span class="RecommendFundingProduct_Title_1_description">지금 함께 만드는 성공</span>
		</div>
		<div class="MainCard_Home_Container">
		  <div class="MainCard_Home_list"
			   style="padding: 40px 100px">
			  <% @funding_products.each do |funding_product| %>
			  <div class="MainCard_item">
				  <div class="MainCard_item_info">
					  <a href = "/funding_products/<%= funding_product.id %>">
						  <!--<img src = "/:funding_product.avatar.url"/>-->
						  <span class="image">
							  <p><%= image_tag("#{funding_product.avatar}") %></p>
						  </span>
						  <p class="MainCard_title">
							  <strong><%= funding_product.title %></strong>
						  </p>
						  <div class="product_cb">
							  <span class="product_category"><%= funding_product.category_id %></span>
							  <span class="product_brand">| <%= funding_product.brand %></span>
						  </div>
						  <div>
							  <span class="MainCard_guideline"><hr/></span>
						  </div>
						  <div class="achieve">
							  <span class="achieve_rate"><%= funding_product.achieve_rate %>%</span>
							  <span class="achieve_money"><%= funding_product.achieve_money %>원</span>
						  </div>
						  <div class="deadline">
							  <span class="deadline_day"><%= funding_product.deadline %></span>
							  <span class="deadline_daytext">까지 펀딩 가능</span>
						  </div>
					  </a>
				  </div>
			  </div>
			  <% end %>
		  </div>
	  </div>
	</div>

</body>
