<p id="notice"><%= notice %></p>

<h1>wadiz</h1>


  

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.content %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="RecommendationDesktop_container__3RLMb">
	<div class="Main_wrap__2jKMu">
		<div class="RecommendationDesktop_innerGroup__as4jB Main_innerWrap__7-_Vm">
	<section class="SectionContainerLayout_container__1f8kt RecommendFundingWrap_container__3LDiq RecommendationDesktop_recommendFunding__1dKi1">
<div class="title_contentWrapper__1P-q0 RecommendFundingWrap_title__1b9i3">
	
	<div class="RecommendFundingWrap_subTitle__1SaNL">
		<h1>취향 맞춤 펀딩 프로젝트</h1>
		<span class="RecommendFundingWrap_description__5xAKe">지금 함께 만드는 성공</span>
	</div>
</div>

<div class="RecommendFundingWrap_cardListGroup__1nRxw">
	<div class="RecommendFundingWrap_card___LnVO">
		<div>
			<a class="CardType_projectCard__3xhjb CardType_projectCardB__3N8ks" href="funding_products/1">
				<article>
					<div class="commons_thumbnail__3wYGv CardType_thumbnail__2dtTe">
						<div class="commons_img__2UTCA commons_visible__1xTJh CardThumbnail_thumbnail__3bDBJ"> 
							 
						<img src = "/heattec.jpg"></img>
						</div>
					</div>
					<div class="commons_content__2K1SH CardType_content__1Pavj">
						<h1 class="commons_title__1yGWm">
							[4만후기/앵콜] 스타일과 따뜻함을 #한장으로 히트터치 노브라티&amp;터틀넥
						</h1>
						<p class="commons_summary__2Ynez">
							<span class="commons_rate__10tOH">8,701%</span>
							패션·잡화
						</p>
					</div>
					
				</article>
			</a>
		</div>
	</div>
	<div class="RecommendFundingWrap_card___LnVO">
		<div>
			<a class="CardType_projectCard__3xhjb CardType_projectCardB__3N8ks" href="/web/campaign/detail/165419?_refer_section_st=PersonalCurator_1">
				<article><div class="commons_thumbnail__3wYGv CardType_thumbnail__2dtTe">
					<div class="commons_img__2UTCA commons_visible__1xTJh CardThumbnail_thumbnail__3bDBJ" 
						 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2022/1114/20221114091738065_165419.png/wadiz/resizecrop/216x119/format/jpg/quality/85/&quot;);">
					</div>
					</div>
					<div class="commons_content__2K1SH CardType_content__1Pavj">
						<h1 class="commons_title__1yGWm">[캐릭캐릭체인지] 진짜가 나타났다! 수호알 피규어, 아크릴 스탠드</h1>
						<p class="commons_summary__2Ynez">
							<span class="commons_rate__10tOH">156%</span>캐릭터·굿즈</p>
					</div></article></a></div></div><div class="RecommendFundingWrap_card___LnVO">
	<div>
		<a class="CardType_projectCard__3xhjb CardType_projectCardB__3N8ks" href="/web/campaign/detail/167885?_refer_section_st=PersonalCurator_2">
			<article>
				<div class="commons_thumbnail__3wYGv CardType_thumbnail__2dtTe">
					<div class="commons_img__2UTCA commons_visible__1xTJh CardThumbnail_thumbnail__3bDBJ" 
						 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2022/1128/20221128090309034_167885.jpeg/wadiz/resizecrop/216x119/format/jpg/quality/85/&quot;);">
					</div></div><div class="commons_content__2K1SH CardType_content__1Pavj">
				<h1 class="commons_title__1yGWm">[1억펀딩] 밥은 풍년이 지을게요. 상만 차려주세요. 6분 30초의 기적</h1>
				<p class="commons_summary__2Ynez">
					<span class="commons_rate__10tOH">45,147%</span>
					홈·리빙</p>
				</div>
			</article>
		</a>
	</div>
</div>
	
		</div>
			</section>
		</div>
	</div>
</div>


