<p id="notice"><%= notice %></p>

<h1 style="padding: 20px 380px">펀딩 홈</h1>

<table>
  <tbody>
	  <div class="MainCard_Home_Container">
		  <div class="MainCard_Home_list"
			   style="padding: 40px 340px">
			  <% @funding_products.each do |funding_product| %>
			  <div class="MainCard_item">
				  <div class="MainCard_item_info">
					  <a href = "/funding_products/<%= funding_product.id %>">
						  <!--<img src = "/:funding_product.avatar.url"/>-->
						  <span class="image">
							  <p><%= image_tag("#{funding_product.avatar}") %></p>
						  </span>
						  <p class="MainCard_title">
							  <strong><%= funding_product.title %></strong>
						  </p>
						  <div class="product_cb">
							  <span class="product_category"><%= funding_product.category_id %></span>
							  <span class="product_brand">| <%= funding_product.brand %></span>
						  </div>
						  <div>
							  <span class="MainCard_guideline"><hr/></span>
						  </div>
						  <div class="achieve">
							  <span class="achieve_rate"><%= funding_product.achieve_rate %>%</span>
							  <span class="achieve_money"><%= funding_product.achieve_money %>원</span>
						  </div>
						  <div class="deadline">
							  <span class="deadline_day"><%= funding_product.deadline %></span>
							  <span class="deadline_daytext">까지 펀딩 가능</span>
						  </div>
						  <form action='/funding_product/<%= funding_product.id%>/user_like' method='post'>
							  <button>찜</button>
						  </form>
					  </a>
				  </div>
			  </div>
			
			  <% end %>
		  </div>
	  </div>
	  
  </tbody>
</table>