<p id="notice"><%= notice %></p>

<h1>Funding Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
	  <th>Seller</th>
      <th>Category</th>
      <th>Title</th>
      <th>Deadline</th>
      <th>Achieve rate</th>
      <th>Achieve money</th>
      <th>Supporters number</th>
      <th>Brand</th>
      <th>Product detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funding_products.each do |funding_product| %>
      <tr>
        <td><%= funding_product.product_id %></td>
		<td><%= funding_product.seller_id %></td>
        <td><%= funding_product.category_id %></td>
        <td><%= funding_product.title %></td>
        <td><%= funding_product.deadline %></td>
        <td><%= funding_product.achieve_rate %></td>
        <td><%= funding_product.achieve_money %></td>
        <td><%= funding_product.supporters_number %></td>
        <td><%= funding_product.brand %></td>
        <td><%= funding_product.product_detail %></td>
        <td><%= link_to 'Show', funding_product %></td>
        <td><%= link_to 'Edit', edit_funding_product_path(funding_product) %></td>
        <td><%= link_to 'Destroy', funding_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funding Product', new_funding_product_path %>
