<!DOCTYPE html>
<html>
  <head>
    <title>GoormRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
		<style type="text/css">
			  a {text-decoration: none;}</style>
			<td><%= link_to 'Wadiz', homes_path %></td>
		    <td><%= link_to '펀딩', funding_products_path %></td>
		<% if user_signed_in? %>
		    <td><%= link_to '서포터', homes_supporterpage_path(current_user.id) %></td>
		    <td><%= link_to '메이커', sellers_homepage_seller_path(current_user.id) %></td>
			<%= link_to "회원정보", edit_user_registration_path %>
			<%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "로그인", user_session_path %>
			<%= link_to "회원가입", "/users/sign_up" %>
		<% end %>
	</div>
	<hr/>
	<%= alert %>
	<%= notice %>
	<h2 style="font-weight: bold">마이 와디즈</h2>
	<% if user_signed_in? %>
		<div>
			유저 No. <%= current_user.id %><br>
			<%= current_user.nickname %> 님<br>
		</div>
	  <form>
	  </form>
	<% else %>
	<% end %>

    <%= yield %>
	  
	
		
	  
  </body>
</html>
